/* dejavu-sans-book */
@font-face {
	font-family: DejaVu Sans;
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: local("DejaVu Sans"), local("DejaVuSans"), url(dejavu-sans-book.woff2) format("woff2");
}

