html {
    background-image: url(images/celeste_dream_block_bg.png);
    color: white;
}

body {
    backdrop-filter: brightness(75%);
    margin:0px;
}

h1 {
    text-align: center;
}

#text {
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: large;
}

#navigation-bar {
    margin-left:10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    font-size: medium;
}

#nav-bar-element {
    cursor: pointer;
}